/* Reset básico */

* {
    margin: 0.05rem;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #a1d5d9;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.logo:hover img {
    transform: translateX(-50%) scale(1.1);
}

.titulo h1{
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}
.titulo h1:hover{
    transform: scale(1.1)
}
/* Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #8B5E3C;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}